<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Booking App Suite">
    <listeners>
       <listener class-name="booking.listeners.StaysTestListener"></listener>
     
    </listeners>
    
   <test thread-count="5" name="test">
    <!-- parameter name="deviceName" value="TiramisuPrivacySandbox"></parameter -->
    <!--parameter name="platformName" value="Android"><-parameter-->
    <classes>
    
       <class name="booking.tests.StaysTest">
       
              <methods>
					<exclude name="testloginWithMail" />
					<include name="testReserveStayWithFreeCancelationAndLowCost" />
					<include name="testSavedToFavouriteItem" />
					<include name="testFilterWithVeryGood" />
					
				</methods>
		
		</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
